.restGrid {
    width: 1200px;
    grid-area: m;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
    margin: 0 auto;
    column-count: 3;
    column-span: all;
}

.restaurant {
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
    padding-top: 40px;
    padding-bottom: 20px;
}

.restaurant img {
    width: 350px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px lightgrey;
}

.restaurant:hover, .restaurant:focus, .restaurant:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.restGrid a {
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
}


h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
